.App {
  text-align: center;
  background-color: #0a2533;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fcfcfc;
  font-family: Arial, Helvetica, sans-serif;
}

#videoPlayer {
  grid-column: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#videoName {
  flex: 1 100%;
}

#timestampsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: #16d592;
  color: #fcfcfc;
}

.timestamp {
  display: grid;
  grid-template-columns: auto auto;
}

#videoPage {
  display: grid;
  grid-template-columns: 10% 90%;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#videoList {
  grid-column: 1;
  border-right: 3px solid #16d592;
}

#vid {
  border: 1px solid #16d592;
}

li {
  margin: 10px;
}

a {
  color: #51a5eb;
}
